# Biblioteca pyodbc

1. Precisamos criar uma conexão com o banco de dados.

In [30]:
%pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\kiko\appdata\local\programs\python\python312\lib\site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

dados_conexao = ("Driver={Seu_Driver};"
                "Server=SeuServidor;"
                Database=NomeBaseDeDados;")
          
Se estivéssemos usando outro sistema de banco de dados, nosso driver mudaria. Para saber em outros casos, execute:
pyodbc.drivers() -> caso não encontre seu driver ali, basta buscar no google por "driver MeuBancoDeDados for pyodbc" e baixar

In [31]:
import pyodbc

print(pyodbc.drivers())

['SQL Server', 'SQL Server Native Client RDA 11.0', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)', 'ODBC Driver 17 for SQL Server', 'SQLite3 ODBC Driver', 'SQLite ODBC Driver', 'SQLite ODBC (UTF-8) Driver']

In [32]:
import pyodbc

dado_conexao = ('Driver={SQLite3 ODBC Driver};Server=localhost;Database=chinook.db')

conexao = pyodbc.connect(dado_conexao)

print('Conexão bem sucedida')

Conexão bem sucedida

2. Agora, precisamos criar o que o pyodbc chama de cursor, que é basicamente quem vai executar os nossos códigos SQL

In [33]:
cursor = conexao.cursor()

3. Agora já podemos executar nossos comandos SQL.

Temos 2 opções aqui:

    1. Apenas Executar comandos SQL que vão acontecer no banco
    2. Executar o comando SQL e armazenar a consulta em uma variável no Python, como um dataframe do pandas

dataframe = pd.read_sql('COMANDO_SQL', conexao) -> vai executar o comando SQL, gerando uma consulta e retornando a resposta dessa consulta para o dataframe

Para pegar uma tabela inteira do nosso banco de dados, usaremos o comando SQL Select *:
"SELECT * FROM BaseDeDados.Tabela"

In [34]:
cursor.execute("""
    SELECT * 
    FROM albums
""")

In [35]:
valores = cursor.fetchall()

In [36]:
print(valores[:10])

[(1, 'For Those About To Rock We Salute You', 1), (2, 'Balls to the Wall', 2), (3, 'Restless and Wild', 2), (4, 'Let There Be Rock', 1), (5, 'Big Ones', 3), (6, 'Jagged Little Pill', 4), (7, 'Facelift', 5), (8, 'Warner 25 Anos', 6), (9, 'Plays Metallica By Four Cellos', 7), (10, 'Audioslave', 8)]

In [37]:
cursor.close()
conexao.close()